body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

header {
			background-color: #333;
			color: #fff;
			position: sticky;
			top: 0;
			left: 0;
			width: 100%;
			padding: 20px;
			text-align: center;
		}


/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}




/* Change the link color on hover */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}



.image-and-text {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.image-and-text img {
	max-width: 30%;
	margin-right: 20px;
}

.image-and-text p {
	flex: 1;
}


p {
    text-align: center;
}


footer  {
			background-color: #333;
			color: #fff;
			position: sticky;
			top: 0;
			left: 0;
			width: 100%;
			padding: 20px;
			text-align: center;
		}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

