<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<header>
    <h1>My Blog</h1>
    <nav>


        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li style="float:right"><a class="active" href="register.html">Register</a></li>
        </ul>

    </nav>
</header>
<main>
    <article>
        <header>
            <h2>First Post</h2>
            <p>Posted on January 1, 2023</p>
        </header>
        <div class="image-and-text">
            <img src="../image/coffee.jpg" alt="Description of image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel odio quis justo lacinia rhoncus eget
                sit amet elit. Aliquam vitae interdum enim, vel lacinia odio. Sed euismod dolor vel ligula semper, eget
                blandit nisi dictum. Nunc id nisl eu nisl venenatis bibendum. Etiam congue gravida purus, sed volutpat
                ex auctor sed.</p>
        </div>
        <footer>
            <p>Posted by John Doe</p>
        </footer>
    </article>
    <article>
        <header>
            <h2>Second Post</h2>
            <p>Posted on January 1, 2023</p>
        </header>
        <div class="image-and-text">
            <img src="../image/laptop.jpg" alt="Description of image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel odio quis justo lacinia rhoncus eget
                sit amet elit. Aliquam vitae interdum enim, vel lacinia odio. Sed euismod dolor vel ligula semper, eget
                blandit nisi dictum. Nunc id nisl eu nisl venenatis bibendum. Etiam congue gravida purus, sed volutpat
                ex auctor sed.</p>
        </div>
        <footer>
            <p>Posted by John Doe</p>
        </footer>
    </article>
    <article>
        <header>
            <h2>Third Post</h2>
            <p>Posted on January 1, 2023</p>
        </header>
        <div class="image-and-text">
            <img src="../image/cat.jpg" alt="Description of image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel odio quis justo lacinia rhoncus eget
                sit amet elit. Aliquam vitae interdum enim, vel lacinia odio. Sed euismod dolor vel ligula semper, eget
                blandit nisi dictum. Nunc id nisl eu nisl venenatis bibendum. Etiam congue gravida purus, sed volutpat
                ex auctor sed.</p>
        </div>
        <footer>
            <p>Posted by John Doe</p>
        </footer>
    </article>



</main>
<footer class="footer">
    <p>Copyright © 2023</p>
</footer>
</body>
</html>
