
/* Make image sizes on about page fit.  */
.d-block {
    width: 100%;
    height: 40vw;
    object-fit: cover;

}

col-md-4 {
    height: 40vw;
    object-fit: cover;

}



.card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;

}


.container {
  padding: 40px;

}

.storypage {
    min-height: 140vh

}

h1 {
padding: 20px;}

header {
			background-color: black;
			color:white;
			width: 100%;
            height: 90vh;
            padding:40px;
			text-align: center;
		}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}


footer {
    background-color: black;
    width: 100%;
	padding: 20px;
	text-align: center;
	padding 50px;
	margin-top: auto;

}



@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

 #indexbackground {
        background-image: url("https://images.unsplash.com/photo-1669503467733-a21fb19c27bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1760&q=80");


      }

 #contactbackground {
        background-image: url("https://images.unsplash.com/photo-1615842928372-bf534d286c62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        background-size: 100%;
 }

 #registerbackground {
        background-image: url("https://images.unsplash.com/photo-1545486332-9e0999c535b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
        background-size: 100%;
 }
 #aboutbackground {
        background-image: url("https://images.unsplash.com/photo-1637946175559-22c4fe13fc54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80");
        background-size:50%;
 }



      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }

      .navbar .nav-link {
        color: #fff !important;
      }